<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Travel Planner</title>
    <link rel="stylesheet" href="/css/index.css"> 
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> 
</head>
<body>

    <header>
        <img src="/images/logo.png" alt="Logo">
        <h1>Voyage Planner</h1>
    </header>

    <div class="container">
        <h1>Discover Your Next Adventure with AI: Personalized Itineraries at Your Fingertips</h1>
        <p>Your personal trip planner and travel curator, creating custom itineraries tailored to your interests and budget.</p>
        
        <!-- Button to redirect to login page -->
        <a href="/login" class="bbutton">Plan Your Trip Now</a>

        <div class="screenshot">
            <img src="/images/image.jpeg" alt="Screenshot"> <!-- Screenshot image -->
        </div>
    </div>

</body>
</html>